<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cha">
	
	<!-- 마이페이지(개인 일정 캘린더 & 책검색) - 일정 -->
	<select id="fullCalendar" resultType="com.spring.groupware.commonVO.PersonalCalVO" parameterType="String">
		select calendar_seq, title, content, to_char(startDate, 'yyyy-mm-dd') || 'T' || to_char(startDate, 'hh24:mi') AS startDate
			 , to_char(endDate, 'yyyy-mm-dd') || 'T' || to_char(endDate, 'hh24:mi') AS endDate , backgroundColor
		from personalCalendar_table
		where fk_employee_seq = #{employee}
	</select>
	
	<!-- 마이페이지(개인 일정 캘린더 & 책검색) - 일정 추가 -->	
	<insert id="insertFullCalendar" parameterType="HashMap">		
		insert INTO personalCalendar_table(calendar_seq,fk_employee_seq,title,content,startDate,endDate,backgroundColor)
		values(personalCalendar_table_seq.nextval, #{employee_id},#{title},#{content}		
		,to_date(#{startDate},'yyyy-mm-dd hh24:mi')
		,to_date(#{endDate},'yyyy-mm-dd hh24:mi')
		,#{backgroundColor})		
	</insert>
	
	<!-- 마이페이지(개인 일정 캘린더 & 책검색) - 일정 수정 -->
	<update id="updateFullCalendar" parameterType="HashMap">		
		UPDATE personalCalendar_table SET title = #{title}
                                 		 ,content =#{content}
                                 		 ,startDate = to_date(#{startDate},'yyyy-mm-dd hh24:mi')
                                 		 ,endDate = to_date(#{endDate},'yyyy-mm-dd hh24:mi')
                                 		 ,backgroundColor = #{backgroundColor}
		where calendar_seq = #{calendar_seq}		
	</update>
	
	<!-- 마이페이지(개인 일정 캘린더 & 책검색) - 일정 삭제 -->
	<delete id="deleteFullCalendar" parameterType="HashMap">
		DELETE from personalCalendar_table 
		where calendar_seq = #{calendar_seq}
	</delete>
	
	<resultMap type="HashMap" id="clubMap">
		<result property="club_seq" column="club_seq" javaType="String"/>
		<result property="member_seq" column="member_seq" javaType="String"/>
		<result property="employee_name" column="employee_name" javaType="String"/>
		<result property="club_name" column="club_name" javaType="String"/>
		<result property="club_info" column="club_info" javaType="String"/>
		<result property="status" column="status" javaType="String"/>
		<result property="regDate" column="regDate" javaType="String"/>		
	</resultMap>
	
	<!-- 마이페이지(동호회) - 뿌리기 -->
	<select id="club" parameterType="HashMap" resultMap="clubMap">
		select B.club_seq 
		     , A.member_seq 
		     , C.employee_name
		     , B.club_name 
		     , B.club_info 
		     , A.status 
		     , to_char(A.regDate, 'yyyy-mm-dd') AS regDate
		from clubMember_table A join club_table B
		ON A.fk_club = B.club_seq
		join employees_table C
		ON C.employee_seq = A.fk_employee_seq
		where C.employee_seq = #{employee_id}
	</select>
	
	<!-- 마이페이지(동호회) - 팝업창에 해당 동호회 명단 뿌리기 -->
	<select id="popup" parameterType="HashMap" resultMap="clubMap">
		select B.club_seq
		     , A.member_seq
		     , C.employee_name
		     , B.club_name
		     , B.club_info
		     , A.status
		     , to_char(A.regDate, 'yyyy-mm-dd') AS regDate  
		from clubMember_table A join club_table B
		ON A.fk_club = B.club_seq
		join employees_table C
		ON C.employee_seq = A.fk_employee_seq
		where B.club_seq = #{club_seq}
	</select>
	
	<resultMap type="HashMap" id="reservationMap">
		<result property="reservation_seq" column="reservation_seq" javaType="String"/>
		<result property="employee_name" column="employee_name" javaType="String"/>
		<result property="roomNumber" column="roomNumber" javaType="String"/>
		<result property="startDate" column="startDate" javaType="String"/>
		<result property="endDate" column="endDate" javaType="String"/>
		<result property="head_seq" column="head_seq" javaType="String"/>
		<result property="memberCount" column="memberCount" javaType="String"/>
		<result property="reason" column="reason" javaType="String"/>
		<result property="status" column="status" javaType="String"/>		
	</resultMap>
	
	<!-- 마이페이지(예약) - 뿌리기 -->
	<select id="reservation" parameterType="HashMap" resultMap="reservationMap">
		select V.RNO, V.reservation_seq, V.employee_seq, V.roomNumber, V.startDate, V.endDate, V.head_seq
		     , V.memberCount, V.reason, V.status, V.regDate
		from
		(
		select rownum AS RNO
		     , A.reservation_seq
		     , B.employee_seq
		     , C.roomNumber
		     , A.startDate
		     , A.endDate
		     , A.head_seq
		     , A.memberCount
		     , A.reason
		     , A.status
		     , A.regDate
		from reservation_table A join employees_table B
		ON A.head_seq = B.employee_seq
		join reservationRoom_table C
		ON A.fk_roomNumber = C.roomNumber
		) V
		where V.RNO between '1' and '3'
		order by V.regDate desc
	</select>
		
			
	<!-- 회사일정 -->
	<select id="adminFullCalendar" resultType="com.spring.groupware.commonVO.CompanyCalVO">
		select C.comCalendar_seq, C.title, C.content
		     , to_char(C.startDate, 'yyyy-mm-dd') || 'T' || to_char(C.startDate, 'hh24:mi') AS startDate
		     , to_char(C.endDate, 'yyyy-mm-dd') || 'T' || to_char(C.endDate, 'hh24:mi') AS endDate 
		     , C.backgroundColor, nvl(D.department_name, '회사') AS department_name, CC.category_name
		from department_table D right join companyCalendar_table C
		on D.department_seq = C.fk_department_seq
		join companyCalendar_category CC
		on C.calendar_category = CC.category_num
	</select>
	
	<!-- 관리자 메인페이지(회사 일정 캘린더) - 일정추가 -->
	<insert id="insertAdminCalendar" parameterType="HashMap">
		insert INTO companyCalendar_table(comCalendar_seq, title, content, startDate, endDate, backgroundColor, calendar_category, fk_department_seq)
		values(companyCalendar_table_seq.nextval,#{title},#{content}
		       , to_date(#{startDate},'yyyy-mm-dd hh24:mi')
		       , to_date(#{endDate},'yyyy-mm-dd hh24:mi'),#{backgroundColor},#{calendar_category}, #{fk_department_seq})
	</insert>
	
	<!-- 관리자 메인페이지(회사 일정 캘린더) - 일정 수정 -->
	<update id="updateAdminCalendar" parameterType="HashMap">		
		UPDATE companyCalendar_table SET title = #{title}
		                                 ,content =#{content}
		                                 ,startDate = to_date(#{startDate},'yyyy-mm-dd hh24:mi')
		                                 ,endDate = to_date(#{endDate},'yyyy-mm-dd hh24:mi')
		                                 ,backgroundColor = #{backgroundColor}
		                                 ,calendar_category = #{calendar_category}
		                                 ,fk_department_seq = #{fk_department_seq}                                 
		where comCalendar_seq = #{comCalendar_seq}	
	</update>
	
	<!-- 관리자 메인페이지(회사 일정 캘린더) - 일정 삭제 -->
	<delete id="deleteAdminCalendar">
		DELETE from companyCalendar_table 
		where comCalendar_seq = #{comCalendar_seq}
	</delete>
	

</mapper>