<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>welfare</title>
<style type="text/css">
	#img {
		width: 80px;
		height: 80px;
	}
	#boktbl th {
		text-align: left;
		padding-left: 20px;
	}
	#boktbl td {
		text-align: left;
		padding-left: 20px;
	}
	#imgdiv {
		float: left;
		margin: 10px 0 0 15px;
	}
	#h3 {
		margin-left: 20px;
	}
</style>
</head>
<body>
	
	<h3 id="h3">근무환경</h3>	
	<div id="imgdiv">
		<img id="img" src="images/pngwave.png" title="나무" alt="사진안나올떄 나오는 것" />
	</div>
	<table id="boktbl">		
		<tbody>		
			<tr>
				<th>복리후생</th>
				<th>연금/보험</th>	
				<td>국민연금,고용보험,산재보험,건강보험,퇴직연금</td>	
			</tr>
			<tr>
				<th></th>
				<th>휴무/휴가/행사</th>
				<td>연차,출산 휴가,노동절 휴무,남성 출산 휴가</td>
			</tr>
			<tr>
				<th></th>
				<th>보상/수당/지원</th>
				<td>야근수당,명절 귀향비 지급,성과급 지급,자녀 학자금지급</td>
			</tr>
			<tr>
				<th></th>
				<th>사내시설/장애인지원</th>
				<td>1인 1명 주차장지원</td>
			</tr>
		</tbody>
	</table>
</body>
</html>